body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    isolation: isolate;
    position: relative;
    width: 1440px;
    height: 1236px;
    background: #FFFFFF;
    font-family: 'Inter';
    text-align: center;
}

ul {
    list-style-type: none;

}